<h1><%= @restaurant.name %></h1>
<p> You can find us at: <%= @restaurant.address %> </p>
<p> Come check our <%= @restaurant.category %> cuisine out!</p>

<%= link_to "Back to list of restaurants", restaurants_path %>

